@import "tailwindcss";
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  left: 10vw;
  top: 5vw;
  display: flex;
  justify-content: center !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/**/
.dashboard_noti {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding-inline: 4rem;
  padding-top: 7rem;
  box-sizing: border-box;
}

.rotated_rec {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #878571;
}
.rotated_rec::before {
  content: ' ';
  width: 110%;
  height: 70%;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: 15px;left: -12px;
  rotate: 20deg;
}
.rotated_rec > p {
  z-index: 9 !important;
}

/*brand*/
.brand {
  width: 100%;
  height: 100%;
  padding-inline: 4rem;
}
.brand_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
} 
.brand_card {
  box-shadow: 1px 3px 3px #0000005e;
}

@media (max-width:768px) {
  .dashboard_noti {
    grid-template-columns: auto ;
    left: 30% !important;
  }
}

