:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff !important;
  overflow-x: hidden;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  padding: 5px 15px;
  color: #000;
  box-shadow: 1px 1px 1px #0000005e;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

